# TastyTrade OAuth2 personal grant credentials
# See https://developer.tastytrade.com/oauth/ to provision
TASTYTRADE_CLIENT_SECRET=
TASTYTRADE_REFRESH_TOKEN=
TASTYTRADE_SCOPE=read trade

# Either "prod" (https://api.tastyworks.com) or "cert" (https://api.cert.tastyworks.com)
TASTYTRADE_ENV=prod

# Set to "1" to enable order placement / cancellation / replacement / watchlist mutation
TASTYTRADE_ALLOW_TRADING=
